* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  outline: none; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }
  a:active {
    text-decoration: none; }

.app {
  background-color: #faf8f5;
  min-height: 800px; }

.logo {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 1.5px 10px 0 rgba(1, 0, 42, 0.05);
  text-align: center; }
  .logo span {
    color: #ff6a30; }

.title {
  width: 100%;
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  color: #262626;
  text-align: center; }

.main {
  display: flex;
  margin: 0% 10%;
  padding-top: 40px; }

.data .choose-expenses, .data .optionalexpenses, .data .count-budget, .data .choose-income-label {
  margin: 13px 0px;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  text-align: center; }

.data .expenses-item, .data .optionalexpenses-item, .data .choose-income, .data .choose-sum, .data .choose-percent {
  height: 35px;
  width: calc((100%/2) - 4px);
  border-radius: 2.5px;
  background-color: #ffffff;
  box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #a7a7a7; }
  .data .expenses-item::placeholder, .data .optionalexpenses-item::placeholder, .data .choose-income::placeholder, .data .choose-sum::placeholder, .data .choose-percent::placeholder {
    opacity: .3; }

.data .expenses-item-btn, .data .optionalexpenses-btn, .data .count-budget-btn {
  width: 70px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 2.5px;
  background-image: linear-gradient(336deg, #ffbd75, #ff964b), linear-gradient(#ffffff, #ffffff);
  box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  cursor: pointer; }
  .data .expenses-item-btn:hover, .data .optionalexpenses-btn:hover, .data .count-budget-btn:hover {
    background-image: none;
    background: #fff;
    color: #000;
    border: 3px solid #fff;
    border-image: linear-gradient(336deg, #ffbd75, #ff964b);
    border-image-slice: 1;
    transition: all 0.2s ease-out; }

.data .optionalexpenses-item {
  width: calc((100%/3) - 4px); }

.data .count-budget-btn {
  width: 120px; }

.data .choose-income {
  display: block;
  width: 80%;
  margin: 0 auto; }

.data .checksavings {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; }
  .data .checksavings input {
    width: 30px; }

.data .choose-sum, .data .choose-percent {
  width: 30%;
  margin: 15px; }

.data .start {
  width: 70px;
  height: 30px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 2.5px;
  background-image: linear-gradient(336deg, #ffbd75, #ff964b), linear-gradient(#ffffff, #ffffff);
  box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 100; }
  .data .start:hover {
    background-image: none;
    background: #fff;
    color: #000;
    border: 3px solid #fff;
    border-image: linear-gradient(336deg, #ffbd75, #ff964b);
    border-image-slice: 1;
    transition: all 0.2s ease-out; }

.result {
  width: 50%; }
  .result-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 42px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 1.5px 20px 0 rgba(1, 0, 42, 0.1); }
    .result-table .budget, .result-table .budget-value, .result-table .daybudget, .result-table .daybudget-value, .result-table .level, .result-table .level-value, .result-table .expenses, .result-table .expenses-value, .result-table .optionalexpenses, .result-table .optionalexpenses-value, .result-table .income, .result-table .income-value, .result-table .monthsavings, .result-table .monthsavings-value, .result-table .yearsavings, .result-table .yearsavings-value {
      width: 48%;
      margin-top: 10px;
      min-height: 40px;
      padding: 10px;
      font-weight: 500; }
    .result-table .budget-value, .result-table .daybudget-value, .result-table .level-value, .result-table .expenses-value, .result-table .optionalexpenses-value, .result-table .income-value, .result-table .monthsavings-value, .result-table .yearsavings-value {
      color: #61a654;
      word-break: break-word; }
  .result .time-data {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px; }
    .result .time-data .year, .result .time-data .month, .result .time-data .day {
      font-size: 16px;
      font-weight: 500; }
    .result .time-data .year-value, .result .time-data .month-value, .result .time-data .day-value {
      height: 35px;
      width: calc((100%/2) - 4px);
      border-radius: 2.5px;
      background-color: #ffffff;
      box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
      border: none;
      padding-left: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      color: #a7a7a7;
      width: 80px;
      height: 30px;
      margin-left: 25px; }
